  body{
    font-family: Helvetica, sans-serif;
    text-align: center;
  }

  /* PAGE HEADING*/
  header{
    background-image: url("../images/flatiron.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border-radius: 50px;
  }

  h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 25px;
  }

  #top-nav{
    padding-bottom: 10px;
  }

  p a{
    style: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  /* MAIN */
  h2{
    font-size: 32px;
    font-weight: bold;
  }

  h3{
    font-size: 23px;
    font-weight: bold;
  }

  p{
    font-size: 14px;
  }

  .designed{
    color: white;
    font-size: 23px;
    font-weight: bold;
    background-image: url("../images/flatiron.png");
    background-position: center;
    border-radius: 10px;
  }
  /* FOOTER */

  footer p{
    color: white;
    font-size: 11px;
    background: dimgray;
    border-radius: 7px;
  }
